*, body {
     margin: 0;
     padding: 0
}

 html {
     font-size: 14px
}
 .markdown-content p, .rtl ol li, .rtl ul li {
     font-size: 1.1rem
}
 body {
     direction: rtl;
     color: #24292e
}
 .ltr {
     direction: ltr !important
}
 .markdown-content {
     width: 100%;
     outline-offset: -22px;
     padding: 15px;
     line-height: 3rem
}
 code, code span, pre code span, ul li pre code {
     font-family: DejaVuSansMono, Menlo, 'Liberation Mono', Consolas, 'DejaVu Sans Mono', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace !important
}
 .markdown-content p {
     text-align: justify;
     padding: .5rem
}
 .ltr ol li, .ltr ul li {
     font-size: 1.1rem;
     margin-left: 3rem
}
 .markdown-content h1, .markdown-content h2, .markdown-content h3 {
     padding: 12px;
     text-shadow: none
}
 .markdown-content h1 {
     padding-top: 0px;
     color: rgba(22, 19, 19, .8);
     font-weight: 900;
     font-size: 2.1rem
}
 .markdown-content h2 {
     font-weight: 500;
     color: rgba(22, 19, 19, .6);
     font-size: 1.8rem
}
 .markdown-container {
     max-width: 1448px;
     margin: 0 auto
}
 code, ul li pre code {
     white-space: pre;
     word-wrap: normal;
     padding: 3px 7px;
     color: #24292e;
     background-color: rgba(27, 31, 35, .05);
     border-radius: 3px;
     font-size: 1rem
}
 .markdown-content ul li pre, .manual ul li pre, pre {
     margin: 0;
     direction: ltr !important
}
 .markdown-content ul li pre code, .manual ul li pre code, pre code {
     direction: ltr !important;
     line-height: 1.45;
     padding: 1em 0 .5em 3em;
     position: relative;
     display: block;
     overflow-x: auto;
     overflow-y: auto
}
 a {
     text-decoration: none
}
 .hljs-comment, .hljs-quote {
     color: #99ac5b
}
 .hljs {
     display: block;
     overflow-x: auto;
     background: #221a0f;
     color: #d3af86
}
