a {
  text-decoration: none;
}

code, code span, pre code span, ul li pre code {
  font-family: DejaVuSansMono, Menlo, \\\'Liberation Mono\\\', Consolas, \\\'DejaVu Sans Mono\\\', \\\'Ubuntu Mono\\\', \\\'Courier New\\\', \\\'andale mono\\\', \\\'lucida console\\\', monospace;
}

code, ul li pre code {
  background-color: #0D141414;
  border-radius: 6px;
  font-size: .75rem;
  padding: 3px 7px;
}

h2 {
  color: #161212;
  font-size: 1.5rem;
  font-weight: 500;
}

ol {
  padding-left: 0;
}

summary:focus {
  border: 0;
  outline: 0;
}

.hljs {
  background: #221a0f;
  color: #d3af86;
  display: block;
  overflow-x: auto;
}

.hljs-comment, .hljs-quote {
  color: #99ac5b;
}

.ltr ol li, .ltr ul li {
  font-size: 1rem;
  margin-left: 3rem;
}

.markdown-container {
  margin: 0 auto;
  max-width: 1448px;
}

.markdown-content ul li pre code, .manual ul li pre code, pre code {
  line-height: 1.45;
  padding: 1em 0 1em 2em;
}

.markdown-content ul li pre, .manual ul li pre, pre {
  margin: 0;
}

.markdown-content {
  line-height: 1.45rem;
}
