git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/Rapptz/discord.py@master
aiohttp[speedups]
lxml
psutil
youtube_dl
pillow
orjson
plyvel; sys_platform=="linux"
plyvel-win32; platform_system=="Windows"
