aiohttp==3.7.3; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.3.0; python_version >= "3.6" and python_full_version >= "3.5.3"
chardet==3.0.4; python_version >= "3.6" and python_full_version >= "3.5.3"
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@master ; python_full_version >= "3.5.3"
discord.py==1.6.0; python_full_version >= "3.5.3"
idna==3.1; python_version >= "3.6" and python_full_version >= "3.5.3"
lxml==4.6.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.5.3"
parsedatetime==2.6
psutil==5.8.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
typing-extensions==3.7.4.3; python_version >= "3.6" and python_full_version >= "3.5.3"
ujson==4.0.2; python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.5.3"
